[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://gitee.com/shydo/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://gitee.com/shydo/benchmark.git
